In [15]:
import pandas as pd
from summit_lib import *

In [16]:
data = pd.read_csv('data_multi_locations_offline.csv')
data

        Unnamed: 0  latitude  longitude view_possible
0                0      45.0   5.000000     False\r\n
1                1      45.0   5.006356     False\r\n
2                2      45.0   5.012712     False\r\n
3                3      45.0   5.019068     False\r\n
4                4      45.0   5.025424     False\r\n
...            ...       ...        ...           ...
210007      210007      43.0   7.974576     False\r\n
210008      210008      43.0   7.980932     False\r\n
210009      210009      43.0   7.987288     False\r\n
210010      210010      43.0   7.993644     False\r\n
210011      210011      43.0   8.000000     False\r\n

[210012 rows x 4 columns]

In [19]:
location_summit = [45.832542 , 6.864717] # The summit to spot: Mont_Blanc, 4810m, France

offset_view = 2 # Your elevation from the ground at your location_point (can be either positive or 0)
offset_summit = -100 # How much of the summit you want to see. For example, if 0, you will test your location with exactly the altitude of the peak to spot. 
# If -100, you will test if you can see from your location the last 100 meters of the summit.
res = 0.5 # Resolution in kilometers. Defaults to 10.

In [24]:
sum(data["view_possible"] == "error\r\n")

0

In [22]:
view_possible_corrected = []
for i, view in enumerate(data["view_possible"]):
    if view == "error\r\n":
        view_possible_corrected.append(summit_is_visible_fast_online(location_point=[data["latitude"][i], data["longitude"][i]], location_summit=location_summit, offset_view=offset_view, offset_summit=offset_summit))
    else:
        view_possible_corrected.append(view.replace("\r", "").replace("\n", ""))

data["view_possible"] = view_possible_corrected

In [30]:
data.drop(columns="Unnamed: 0").to_csv("data_multi_locations_offline.csv", index=False)

In [35]:
ele = pd.read_csv("data/results/48_5_45_8.csv")
ele = ele.drop(columns="Name")

In [38]:
ele.to_csv("data/results/48_5_45_8.csv", index= False)

In [36]:
ele.columns = ['name', 'latitude', 'longitude', 'ele']

In [81]:
ele

                           name   latitude  longitude   ele
0       Shoulder Of Mutton Hill  51.038009  -0.948988   248
1                   Gibbet Hill  51.115452  -0.715844   NaN
2                     Hurt Hill  51.114637  -0.706361   NaN
3                     Blackdown  51.058200  -0.689595   280
4                Marley Heights  51.061615  -0.729292   NaN
...                         ...        ...        ...   ...
166090                  Fridrih  46.508839  14.853471   729
166091    Fuente de los Frailes  41.793255  -1.809449   NaN
166092                   Kobyla  50.336261  13.260521   619
166093                  Peredlj  46.470492  14.054410  1027
166094                   Kolina  50.335043  13.289356   507

[166095 rows x 4 columns]

In [86]:
pd.merge(data, ele, on=["latitude", "longitude", "name"], how="inner").to_csv("data/test.csv", index=False)

In [73]:
data

                             name   latitude  longitude  view_possible
0                        Hradisko  49.187652  16.509734          False
1       Berchtesgadener Hochthron  47.693515  12.986619          False
2                          Jenner  47.575711  13.020282          False
3                      Ochsenkopf  50.030670  11.809890          False
4                          HÃ¶rnli  47.370915   8.941772          False
...                           ...        ...        ...            ...
108045                      Kogel  46.319400  15.325721          False
108046                     Curkla  46.346747  14.136313          False
108047       Punta dell'Orticello  41.546636  13.288976          False
108048              Monte Siserno  41.536084  13.304430          False
108049                 Scheggione  46.465703   8.736093          False

[108050 rows x 4 columns]

In [66]:
data["view_possible"].value_counts()

False    102390
True       5660
Name: view_possible, dtype: int64

In [55]:
ele["ele"]

0          248
1          NaN
2          NaN
3          280
4          NaN
          ...
166090     729
166091     NaN
166092     619
166093    1027
166094     507
Name: ele, Length: 166095, dtype: object

                             name   latitude  longitude  view_possible
0                        Hradisko  49.187652  16.509734          False
1       Berchtesgadener Hochthron  47.693515  12.986619          False
2                          Jenner  47.575711  13.020282          False
3                      Ochsenkopf  50.030670  11.809890          False
4                          HÃ¶rnli  47.370915   8.941772          False
...                           ...        ...        ...            ...
108045                      Kogel  46.319400  15.325721          False
108046                     Curkla  46.346747  14.136313          False
108047       Punta dell'Orticello  41.546636  13.288976          False
108048              Monte Siserno  41.536084  13.304430          False
108049                 Scheggione  46.465703   8.736093          False

[108050 rows x 4 columns]