In [ ]:
import pandas as pd
from summit_lib import plot_locations_map

grid_locations = pd.read_csv("data/results/Grid_NW_Alps_res=0.5km.csv")

grid_locations.dtypes

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/results/summits_results.csv")

In [8]:
data

,Unnamed: 0,name,latitude,longitude,view_possible
0,0,Hradisko,49.187652,16.509734,True
1,1,Berchtesgadener Hochthron,47.693515,12.986619,True
2,2,Jenner,47.575711,13.020282,True
3,3,Ochsenkopf,50.030670,11.809890,True
4,4,Hörnli,47.370915,8.941772,True
...,...,...,...,...,...
108045,108045,Kogel,46.319400,15.325721,True
108046,108046,Curkla,46.346747,14.136313,True
108047,108047,Punta dell'Orticello,41.546636,13.288976,True
108048,108048,Monte Siserno,41.536084,13.304430,True
108049,108049,Scheggione,46.465703,8.736093,True

In [ ]:
data.to_csv("data/results/summits_results.csv", index=False)

In [4]:
data = pd.read_excel("data/summits_list.xlsx")
data.to_csv("data/summits_list.csv", index=False)

In [ ]:
grid_locations.loc[grid_locations['view_possible'] == True]

In [ ]:
import pandas as pd
from plotly.express import scatter_mapbox

# Import a file
grid_locations = pd.read_csv("data/results/Grid_NW_Alps_res=0.5km.csv")

# Keep only locations when view_possible = True
grid_locations = grid_locations[grid_locations['view_possible'] == True]

# PLot locations
fig = scatter_mapbox(grid_locations, lat="latitude", lon="longitude", zoom=6, mapbox_style="carto-positron", color_discrete_sequence=["wheat"])